div
  md-toolbar
    h1.md-title コントロール画面

  md-layout
    md-layout(md-column='')
      //- 表示中ビデオ
      div
        draggable(
          v-model='displayingVideos'
          :options="{ group: 'video' }"
        )
          transition-group.displaying-videos
            md-card(
              v-for="video in displayingVideos"
              :key='video.id'
            )
              md-card-media-cover(md-text-scrim='')
                md-card-media(md-ratio='16:9')
                  img(:src="video.thumbnail", alt="")
                md-card-area
                  md-card-header
                    .md-title {{ video.title }}
                  md-card-actions
                    range-slider(
                      min="0"
                      max="1"
                      step="10"
                      v-model="video.opacity")

    //- ビデオリスト
    md-layout(md-column='', md-flex='33')
      md-list
        draggable.videos(
          v-model='videos'
          :options="{ group: { name: 'video', pull: 'clone', put: false }, sort: false }"
        )
          transition-group
            md-list-item(
              v-for="video in videos"
              :key='video.id'
            )
              md-avatar.md-large
                img(:src="video.thumbnail", alt="")
              span {{ video.title }}
